td {
border: 1px solid #ccc;
padding: 0.5rem;	
}
th {	
border-radius: 5px;
padding: 0.5rem;
}
table.alternate tr:(odd) {
background-color: #f2f2f2;
}
table.alternate tr:(even) {
background-color: #ffffff;
}
